* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* font-family: 'Roboto', sans-serif; */
    text-align: center;
    background-color: tomato;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#welcome-section{
    height: 100vmin;
    background-color: rgb(0, 184, 184);
    font-size: 1.6vmax;
    margin: 24px;
    margin-top: 55px;
}

#welcome-section h1{
    font-size: 3rem;
}

#tompic{
    max-width: 35%;
    height: auto;
    margin-top: 10vmin;
}

#welcome-section h1, h2, p{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    /* position: relative; */
    /* top: 20%; */
    -ms-transform: translateY(-50%);
    transform: tr4anslateY(-50%);
}

#projects{
    height: 100vmin;
    background-color: rgb(177, 0, 44);
    margin: 0 24px 24px 24px;
    top: 15vh;
}

#projects main{
    margin-top: 2vh;
}

#projects a{
    margin-top: 2vmin;
}

#projects h2, main{
    margin-top: 2vh;
    /* position: relative; */
    -ms-transform: translateY(-50%);
    transform: tr4anslateY(-50%);
    color: white;
}

@media only screen and (min-width: 992px){
    #welcome-section{
        margin-top: 65px;
    }

    #welcome-section h1{
        font-size: 5rem;
    }
    
    #welcome-section h2, p{
        font-size: 3rem;
        margin-right: 140px;
        margin-left: 140px;
    }

    #projects{
        font-size: 1.5rem;
    }

    #projects h2{
        font-size: 4.6rem;
    }

    #contact h1{
        margin-top: 5vh;
        font-size: 6rem;
    }
}

project-tile {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .card {
    flex: 0 0 200px;
    margin: auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 75%;
    background-color: rgb(140,97,57);
  } 
  .card img {
    max-width: 60%;
    padding: 20px;
  }
  .card .text {
    padding: 0 20px 20px;
  }
  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 60%;
    }

#workpic{
    max-width: 100%;
}

/* Add a black background color to the top navigation */
/* #navbar{
    
} */

.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: fixed;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }



#contact {
    font-size: 20px;
	background-color: rgb(170, 170, 170);
	padding: 50px;
	text-align: center;
    height: 100vmin;
    margin: 24px;
}

#contact h1{
    color: white;
}

/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 5.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 5.6rem;
	line-height: 3.6rem;
	margin: 45% 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 5.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .fab fa-github {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .fab fa-github,
.icon-button:hover .icon-google-plus {
	color: white;
}